@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --background-color: rgb(255, 255, 255);
}

html {
  background-color: grey;
  display: flex;
  justify-content: center;
}

body {
  box-sizing: content-box;
  width: 375px;
  height: 800px;
  padding: 10px 24px;
  background-color: var(--background-color);
  font-weight: 600;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

header {
  height: 48px;
}

nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  background-color: transparent;
}

.headline-section {
  background-image: url(/resources/headline-section-background.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rgb(23, 43, 77);
  width: 327px;
}

h1 span {
  color: rgb(0, 191, 126);
  text-align: center;
}

.supporting-text {
  width: 327px;
  font-size: 20px;
  font-weight: 400;
  color: #172b4d;
  text-align: center;
}
.contact-me {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
}
h3 {
  color: rgb(118, 132, 255);
  margin: 10px 0;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-me ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contact-me a {
  height: 20px;
  width: 20px;
}

.next-button {
  height: 36px;
  width: 36px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background-image: url(/resources/next-section-icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 90px;
}
