@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --background-color: #fff;
  --support-text-color: #172b4d;
  --success-color: #1b9b1b;
  --error-color: #f00;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  background-color: var(--background-color);
  font-weight: 600;
  font-size: 20px;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
}

.header-hello-background {
  position: absolute;
  top: 0;
  background-image: url('./resources/headline-section-responsive-background.svg');
  background-repeat: no-repeat;
  background-size: 230% 150vh;
  background-position: bottom -10vh left calc(50% + 40px);
  min-height: 100vh;
  width: 100%;
  z-index: -1;
}

/* ||mobile-menu-style-------------------------------------------- */
.mobile-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: none;
  z-index: -2;
  flex-direction: column;
  background-color: var(--background-color);
  backdrop-filter: blur(6px);
}

.toolbar {
  display: flex;
  width: 100%;
  justify-content: end;
}

.cancel {
  margin: 11px 22px auto auto;
  padding: 12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #096;
  background-image: url('./resources/cancel-icon.svg');
  background-position: center;
}

.cancel:hover {
  background-color: crimson;
}

.cancel:active {
  border: 0.5px solid black;
  background-color: rgb(248 34 77);
  cursor: pointer;
}

.mobile-list {
  list-style: none;
  margin: 0 0 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex: 2 1;
  gap: 40px;
  border-radius: 0 0 40px 40px;
  justify-content: flex-start;
  color: #3a4a42;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  background-color: #fff;
}

.mobile-list li {
  width: 100%;
  border: 2px solid #fff;
  border: 2px solid transparent;
  border-radius: 10px;
}

.mobile-list a {
  display: block;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  color: #3a4a42;
}

.indicator {
  display: flex;
  justify-self: end;
  justify-content: center;
  align-content: center;
  height: 60px;
}

.indicator img {
  height: 10px;
  max-width: 25%;
}

.menu-button {
  background-color: #096;
}

a.to-the-top-button.icon-animation {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 3;
  transform: rotate(180deg);
  box-shadow: -2px -2px 10px 1px lightgray;
}

/* ||button-style------------------------------------------------ */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  background-color: hsl(160deg 100% 30%);
  border: 0.5px solid transparent;
  color: white;
  border-radius: 4px;
  width: fit-content;
}

.button:hover {
  border: 0.5px solid transparent;
  box-shadow: 0 8px 16px 0 #36b37f3d;
  cursor: pointer;
}

.button:active {
  border: 0.5px solid #172b4d;
  background: hsl(160deg 100% 36%);
  cursor: pointer;
}

/* ||header----------------------------------------------------- */

header {
  height: 48px;
  display: flex;
  position: relative;
  z-index: 1;
  color: rgb(38 55 47);
}

nav {
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--background-color);
  background-color: transparent;
}

nav > div {
  align-self: center;
}

/* ||headline-section--------------------------------------------- */
.headline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  gap: 20px;
  min-height: calc(100vh - 48px);
}

.headline-section > * {
  margin: 0 10%;
}

.hello {
  margin: 0 15%;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rgb(23 43 77);
}

.hello span {
  color: hsl(160deg 100% 30%);
  text-align: center;
}

.supporting-text {
  max-width: 600px;
  font-size: 20px;
  font-weight: 400;
  color: var(--support-text-color);
  text-align: center;
}

.contact-me {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
}

.lets-connect {
  color: rgb(118 132 255);
  padding: 40px 0 10px;
  align-self: center;
}

.contact-me ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contact-me a {
  height: 22px;
  width: 22px;
}

a.next-button {
  height: 36px;
  width: 36px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background-image: url('./resources/next-section-icon.png');
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0;
  margin-top: 10px;
}

/* ||works-section------------------------------------------------ */
.works {
  margin: 40px calc(0.1 * (100vw - 375px) + 24px) 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-auto-rows: auto;
  gap: 24px;
  justify-items: center;
}

.title {
  margin-top: 80px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.works > img {
  margin-bottom: calc(62px - 24px);
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: stretch;
  background-color: rgb(234 241 238);
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.project-image {
  justify-self: flex-start;
  border-radius: 8px;
  margin: 16px;
  min-height: 256px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--background-color);
  flex-grow: 1;
}

.project-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #3a4a42;
  margin-top: 16px;
}

.project-languages {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 5px;
  padding-left: 5px;
}

.project-languages li {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 3%;
  border-radius: 4px;
  background-color: rgb(234 241 238);
}

.project-button {
  padding: 12px;
  margin: 24px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.project-card:hover {
  box-shadow: 2px 8px 8px -2px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

/* ||about-me-section------------------------------------------------ */

.about-me {
  display: grid;
  grid-template-rows: auto repeat(3, max-content);
  margin-top: 30px;
  padding-bottom: 40px;
  gap: 24px;
}

.about-me > * {
  margin-left: calc(0.19 * (100vw - 375px) + 24px);
  margin-right: calc(0.19 * (100vw - 375px) + 24px);
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 24px;
  padding-top: 60px;
  padding-bottom: calc(60px - 24px);
  background-image: url('./resources/about-me-desktop-bg-right.svg'),
    url('./resources/about-me-desktop-bg-left.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: calc(10% + 45px) auto, 20% auto;
  background-position: top 20px right, bottom 36px left;
  margin: 0;
}

.text-section > * {
  margin: 0 calc(0.19 * (100vw - 375px) + 24px);
}

.text-section .supporting-text {
  color: var(--support-text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  line-height: 132%;
}

.text-section .resume-button {
  padding: 12px;
}

.about-me-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 24px;
  background-color: rgb(234 241 238);
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  gap: 24px;
}

.about-me-card .card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #344563;
}

.about-me-icon {
  margin-top: 20px;
  margin-bottom: calc(64px - 24px);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0 16px 24px 0 #252f8914;
}

.about-me-icon img {
  object-fit: contain;
}

.about-me-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  padding-left: 5px;
}

.card-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-list li {
  padding: 12px;
  background-color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

/* ||contact-form--------------------------------------------- */
.contact-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-image: url('./resources/illustration-contact-form.svg');
  background-repeat: no-repeat;
  background-size: 25% 25%;
  background-position: right -10px bottom 250px;
}

.contact-form > * {
  margin-left: 24px;
  margin-right: 24px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-content .supporting-text {
  align-self: center;
  max-width: 500px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(29 35 78);
  text-align: center;
  padding: 20px;
}

.form {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
}

.form div {
  display: flex;
  padding: 12px;
  flex-direction: column;
}

.submit-button {
  padding: 12px;
  align-self: center;
}

.form input,
.form textarea {
  width: 100%;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.form textarea {
  padding: 12px;
  min-height: 90px;
  border: 1px solid #60c095;
}

.form input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

.form textarea::placeholder {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.contact-form .contact-me {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: calc(100% - 48px);
}

.my-email {
  color: #42526e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  height: 200px;
}

/* Form validation */
.form-field input:focus {
  outline: #4682b4;
}

.form-field small {
  padding: 5px;
  text-align: center;
  font-weight: lighter;
  font-size: small;
  color: var(--error-color);
}

.form-field.error input {
  border-color: var(--error-color);
}

.form-field.success input {
  border-color: var(--success-color);
}

.form-field.error textarea {
  color: var(--error-color);
}

.form-field.success textarea {
  outline: var(--success-color);
}

/* ||desktop-support-------------------------------------- */

@media only screen and (max-width: 992px) {
  header nav.desktop {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  header nav.mobile {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  header nav.desktop {
    display: flex;
    height: max-content;
    position: fixed;
    z-index: 2;
    top: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .works .title,
  .works > img {
    grid-column: 1 / -1;
  }

  .about-me {
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-rows: auto max-content;
    grid-template-columns: 142px repeat(3, 1fr) 142px;
    gap: 24px;
    min-height: 90vh;
    justify-content: space-around;
  }

  .about-me .text-section {
    grid-column: 1 / -1;
  }

  .about-me .about-me-card {
    margin: 0;
    padding-bottom: 24px;
  }

  .about-me .about-me-card:nth-child(2) {
    margin-left: 142px;
    grid-column: 1 / 3;
  }

  .about-me .about-me-card:nth-child(3) {
    grid-column: 3 / 4;
  }

  .about-me .about-me-card:nth-child(4) {
    margin-right: 142px;
    grid-column: -3 / -1;
  }

  .contact-form {
    background-image: url('./resources/contact-me-desktop-bg-left.svg'),
      url('./resources/contact-me-desktop-bg-right.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 30% auto, 20% 70%;
    background-position: left -30px bottom 70px, right -30px bottom 70px;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contact-form .title {
    padding-top: 40px;
  }

  .footer-content {
    flex-direction: row;
    margin: 40px 100px;
    box-sizing: border-box;
    width: calc(100% - 200px);
  }

  .footer-content .supporting-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    max-width: 40%;
    text-align: right;
    align-self: flex-start;
    padding-top: 0;
  }

  .form {
    width: 45%;
  }

  .form .submit-button {
    align-self: flex-start;
    margin-left: 12px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .contact-form .contact-me {
    width: 100%;
    padding-top: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .contact-form ul {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid #dfe1e6;
  }

  .contact-form .lets-connect,
  .contact-form p.my-email,
  .contact-form .indicator {
    display: none;
  }

  /* project details on desktop */

  .project-details .project-title {
    grid-column: 1/-2;
    grid-row: 1;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #1d234e;
  }

  .project-details .project-languages {
    grid-column: 1/-1;
    grid-row: 2;
    justify-content: flex-start;
  }

  .project-details .project-description {
    grid-column: 1/-1;
    grid-row: 3/4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .project-details .project-buttons {
    grid-column: -2/-1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .project-details .project-buttons button {
    margin: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .project-details button span {
    display: block;
  }
}

nav.desktop ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 20px 40px;
  border-radius: 0 0 20px 20px;
  display: flex;
  gap: 24px;
  justify-content: center;
  color: rgb(56 63 100);
  font-weight: 600;
  font-size: 15px;
  background-color: var(--background-color);
  background-color: transparent;
}

.nav-border-bottom-blurred-bg {
  border-bottom: 1px solid #60c095;
  backdrop-filter: blur(8px);
}

nav.desktop a {
  padding: 4px 8px;
  border-radius: 8px;
  color: inherit;
}

/* ------------Animations and transitions-------------------- */
header nav.desktop a:hover {
  background-color: rgb(175 241 219);
  transition: background-color 0.2s;
  transition-timing-function: ease-out;
}

header nav.desktop a:visited {
  color: rgb(56 63 100);
}

.icon-animation > * {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 20px;
  width: 20px;
}

.icon-animation {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px;
  border-radius: 50%;
  border: 0.2px solid transparent;
}

.icon-animation:hover {
  background-color: rgb(164 255 225);
  transition: background-color 0.2s;
  transition-timing-function: ease-out;
}

.icon-animation.next-button:hover {
  background-color: rgb(164 255 225);
  transition: background-color 0.2s;
  transition-timing-function: ease-out;
}

.icon-animation:active,
.icon-animation.next-button:active {
  border-color: #24ffa4;
  background-color: rgb(171 207 195);
  transition: background-color 0.2s, border 0.8s;
  transition-timing-function: ease-out;
}

.supporting-text:hover {
  transform: scale(1.03);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.project-image img:hover,
.about-me-icon:hover,
.card-list > li:hover,
.project-languages > li:hover {
  transform: scale(1.1);
  transition-duration: 20ms;
  transition-timing-function: ease-out;
}

.mobile-list li:hover {
  background-color: rgb(175 241 219);
  transition: background-color 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.mobile-list li:active {
  background-color: rgb(214 255 241);
  border: 2px solid rgb(31 22 22);
  border: 2px solid rgb(38 55 47);
  cursor: pointer;
}

/* ||project-details-------------------------------------- */
.project-details {
  display: none;
  position: fixed;
  top: 0;
  z-index: 4;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: calc(0.2 * (100vmin - 375px) + 24px);
  backdrop-filter: blur(8px);
}

.project-details .project-card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--background-color);
}

.project-details .project-image {
  box-sizing: border-box;
  margin: 0;
  min-height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.project-details .toolbar {
  position: absolute;
  top: 2vmin;
  right: 2vmin;
  z-index: 5;
  margin: 0;
  justify-self: flex-end;
  width: 5vmin;
  height: 5vmin;
  max-width: 32px;
  max-height: 32px;
}

.project-details .toolbar button {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: contain;
}

.project-details .project-image img {
  width: 100%;
  max-height: 70%;
  border: 2px solid white;
  border: 2px solid transparent;
  border-radius: 5vmin;
}

.project-details .project-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
}

.project-details .project-title {
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  color: #1d234e;
}

.project-details .project-languages {
  grid-column: 1/-1;
  grid-row: 2;
  justify-content: flex-start;
}

.project-details .project-description {
  grid-column: 1/-1;
  grid-row: 3;
  padding: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.project-details .project-buttons {
  grid-column: 1/-1;
  grid-row: 4;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-self: center;
  align-content: center;
}

.project-details .project-buttons button {
  margin: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.project-details button span {
  display: block;
}

.project-details .project-image button img {
  display: block;
}

@media only screen and (min-width: 992px) {
  .project-details .project-title {
    grid-column: 1/-2;
    grid-row: 1;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #1d234e;
  }

  .project-details .project-languages {
    grid-column: 1/-1;
    grid-row: 2;
    justify-content: flex-start;
  }

  .project-details .project-description {
    grid-column: 1/-1;
    grid-row: 3/4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .project-details .project-buttons {
    grid-column: -2/-1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    justify-self: right;
    gap: 24px;
  }

  .project-details .project-buttons button {
    margin: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .project-details button span {
    display: block;
  }
}

.project-details .project-image img:hover {
  transform: none;
  border: 2px solid var(--success-color);
  border-radius: 5vmin;
}
